## .NET / Visual Studio
bin/
obj/
publish/
*.user
*.suo
.vs/
AppPackages/
BundleArtifacts/
*.appx
*.appxbundle
*.appxsym
*.msix
*.msixbundle

## Build output
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

## Rider / VS Code
.idea/
.vscode/
*.DotSettings.user
